<!DOCTYPE html>
<html>
<head>
    <title>{{ page.title }}</title>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0 maximum-scale=1.0 user-scalable=no">
    <style>
        @font-face {
          font-family: 'Galdeano';
          font-weight: 400;
          font-style: normal;
          src: url('/media/font/Galdeano.ttf') format('truetype');
        }
    </style>
    <link rel="stylesheet" href="/media/css/main.min.css">
    <script src="/media/js/jquery-1.11.1.min.js" type="text/javascript"></script>
    <script type="text/javascript">
        $(function(){ var location = $(this).parent().parent()
        $('.headerLeft').click(function() { $('body,html').animate({scrollTop:0},800);});});
    </script>
    
</head>
    
<body>
    <header id="header">
		<div class="wrap headwrap">
        <div class="headerLeft">
            <h5>Liang Chen</h5>
        </div>
        <nav role="navigation" class="headerRight">
            <a href="/" class="headerButton">Home</a>
            <a href="/cn/" class="headerButton">Chinese</a>
            <a href="/eng/" class="headerButton">English</a>
        </nav>
		</div>
	</header>
    {{ content }}
</body>
</html>
