<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="author" content="梁琛">
    <title>{{ page.title }}</title>
    <link rel="shortcut icon" href="/favicon.ico">
    <link href="/atom.xml" rel="alternate" title="{{ site.name }}" type="application/atom+xml" />
    <link rel="stylesheet" href="/media/css/style.css">
    <link rel="stylesheet" href="/media/css/github.css">
    <link rel="stylesheet" href="/media/css/fontawesome.css">
    <script type="text/javascript" src="/media/js/highlight.pack.js"></script>
    <script type="text/javascript">
      hljs.initHighlightingOnLoad();
    </script>
  </head>
    <body>
      <div id="main" role="main">
        <header>
			{% if page.title %}
            <h1>{{ page.title }}</h1>
			{% endif %}
        </header>
		<nav>
            <span><a title="HOME" class="" href="/eng/">HOME</a></span>
            
            <span><a title="PROJECTS" class="" href="/eng/projects/">PROJECTS</a></span>
            <span><a title="VITAE" class="" href="/eng/vitae">VITAE</a></span>
			<span><a title="GUESTBOOK" class="" href="/eng/guestbook/">GUESTBOOK</a></span>
            <span><a title="ABOUT" class="" href="/eng/about/">ABOUT</a></span>
				 
		</nav>
        <article>

			<section class="homepost">
				{{ content }}
			</section>
</article>
        
      </div> 
  </body>
</html>



